<header>
<h1>投稿確認画面</h1>
</header>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :content %>
  <p>投稿内容:<%= @blog.content %></p>
  <%= form.hidden_field :image_cache %>


  <%= form.submit "投稿する" %>
  <%= form.submit "戻る", name: "back" %>
<% end %>

<footer>
<p>base</p>
</footer>