<p id="notice"><%= notice %></p>

<header>
<h1>投稿一覧のページ</h1>
</header>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>文書</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= image_tag blog.image.url unless blog.image.url == nil %></td>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to '投稿の詳細を見る', blog %></td>
        <td><%= link_to '投稿内容を編集する', edit_blog_path(blog) %></td>
        <td><%= link_to '投稿を削除する', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく投稿する', new_blog_path %>

<footer>
<p>base</p>
</footer>