<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
