<p id="notice"><%= notice %></p>

<header>
<h1>投稿者一覧</h1>
</header>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '詳細画面', user %></td>
        <td><%= link_to '編集画面', edit_user_path(user) %></td>
        <td><%= link_to 'ユーザーを削除する', user_path(user.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規アカウント作成', new_user_path %>

<footer>
<p>base</p>
</footer>